// MAIN ICON
imgapp MAIN icons\Project.png

// SOUNDS
aa SOUNDS sounds\aa.wav 
ii SOUNDS sounds\ii.wav
uu SOUNDS sounds\uu.wav
ee SOUNDS sounds\ee.wav
oo SOUNDS sounds\oo.wav
ka SOUNDS sounds\ka.wav
ki SOUNDS sounds\ki.wav
ku SOUNDS sounds\ku.wav
ke SOUNDS sounds\ke.wav
ko SOUNDS sounds\ko.wav
sa SOUNDS sounds\sa.wav
si SOUNDS sounds\si.wav
su SOUNDS sounds\su.wav
se SOUNDS sounds\se.wav
so SOUNDS sounds\so.wav
ta SOUNDS sounds\ta.wav
ti SOUNDS sounds\ti.wav
tu SOUNDS sounds\tu.wav
te SOUNDS sounds\te.wav
to SOUNDS sounds\to.wav
na SOUNDS sounds\na.wav
ni SOUNDS sounds\ni.wav
nu SOUNDS sounds\nu.wav
ne SOUNDS sounds\ne.wav
no SOUNDS sounds\no.wav
ha SOUNDS sounds\ha.wav
hi SOUNDS sounds\hi.wav
hu SOUNDS sounds\hu.wav
he SOUNDS sounds\he.wav
ho SOUNDS sounds\ho.wav
ma SOUNDS sounds\ma.wav
mi SOUNDS sounds\mi.wav
mu SOUNDS sounds\mu.wav
me SOUNDS sounds\me.wav
mo SOUNDS sounds\mo.wav
ya SOUNDS sounds\ya.wav
yu SOUNDS sounds\yu.wav
yo SOUNDS sounds\yo.wav
ra SOUNDS sounds\ra.wav
ri SOUNDS sounds\ri.wav
ru SOUNDS sounds\ru.wav
re SOUNDS sounds\re.wav
ro SOUNDS sounds\ro.wav
wa SOUNDS sounds\wa.wav
wo SOUNDS sounds\wo.wav
nn SOUNDS sounds\nn.wav
ga SOUNDS sounds\ga.wav
gi SOUNDS sounds\gi.wav
gu SOUNDS sounds\gu.wav
ge SOUNDS sounds\ge.wav
go SOUNDS sounds\go.wav
za SOUNDS sounds\za.wav
ji SOUNDS sounds\ji.wav
zu SOUNDS sounds\zu.wav
ze SOUNDS sounds\ze.wav
zo SOUNDS sounds\zo.wav
da SOUNDS sounds\da.wav
de SOUNDS sounds\de.wav
do SOUNDS sounds\do.wav
ba SOUNDS sounds\ba.wav
bi SOUNDS sounds\bi.wav
bu SOUNDS sounds\bu.wav
be SOUNDS sounds\be.wav
bo SOUNDS sounds\bo.wav
pa SOUNDS sounds\pa.wav
pi SOUNDS sounds\pi.wav
pu SOUNDS sounds\pu.wav
pe SOUNDS sounds\pe.wav
po SOUNDS sounds\po.wav
kya SOUNDS sounds\kya.wav
kyu SOUNDS sounds\kyu.wav
kyo SOUNDS sounds\kyo.wav
sha SOUNDS sounds\sha.wav
shu SOUNDS sounds\shu.wav
sho SOUNDS sounds\sho.wav
cha SOUNDS sounds\cha.wav
chu SOUNDS sounds\chu.wav
cho SOUNDS sounds\cho.wav
nya SOUNDS sounds\nya.wav
nyu SOUNDS sounds\nyu.wav
nyo SOUNDS sounds\nyo.wav
hya SOUNDS sounds\hya.wav
hyu SOUNDS sounds\hyu.wav
hyo SOUNDS sounds\hyo.wav
mya SOUNDS sounds\mya.wav
myu SOUNDS sounds\myu.wav
myo SOUNDS sounds\myo.wav
rya SOUNDS sounds\rya.wav
ryu SOUNDS sounds\ryu.wav
ryo SOUNDS sounds\ryo.wav
gya SOUNDS sounds\gya.wav
gyu SOUNDS sounds\gyu.wav
gyo SOUNDS sounds\gyo.wav
ja SOUNDS sounds\ja.wav
ju SOUNDS sounds\ju.wav
jo SOUNDS sounds\jo.wav
bya SOUNDS sounds\bya.wav
byu SOUNDS sounds\byu.wav
byo SOUNDS sounds\byo.wav
pya SOUNDS sounds\pya.wav
pyu SOUNDS sounds\pyu.wav
pyo SOUNDS sounds\pyo.wav

// HIRAGANA STROKE
aa HIRAGANASTROKE images\hiraganastroke\aa.png 
ii HIRAGANASTROKE images\hiraganastroke\ii.png
uu HIRAGANASTROKE images\hiraganastroke\uu.png
ee HIRAGANASTROKE images\hiraganastroke\ee.png
oo HIRAGANASTROKE images\hiraganastroke\oo.png
ka HIRAGANASTROKE images\hiraganastroke\ka.png
ki HIRAGANASTROKE images\hiraganastroke\ki.png
ku HIRAGANASTROKE images\hiraganastroke\ku.png
ke HIRAGANASTROKE images\hiraganastroke\ke.png
ko HIRAGANASTROKE images\hiraganastroke\ko.png
sa HIRAGANASTROKE images\hiraganastroke\sa.png
si HIRAGANASTROKE images\hiraganastroke\si.png
su HIRAGANASTROKE images\hiraganastroke\su.png
se HIRAGANASTROKE images\hiraganastroke\se.png
so HIRAGANASTROKE images\hiraganastroke\so.png
ta HIRAGANASTROKE images\hiraganastroke\ta.png
ti HIRAGANASTROKE images\hiraganastroke\ti.png
tu HIRAGANASTROKE images\hiraganastroke\tu.png
te HIRAGANASTROKE images\hiraganastroke\te.png
to HIRAGANASTROKE images\hiraganastroke\to.png
na HIRAGANASTROKE images\hiraganastroke\na.png
ni HIRAGANASTROKE images\hiraganastroke\ni.png
nu HIRAGANASTROKE images\hiraganastroke\nu.png
ne HIRAGANASTROKE images\hiraganastroke\ne.png
no HIRAGANASTROKE images\hiraganastroke\no.png
ha HIRAGANASTROKE images\hiraganastroke\ha.png
hi HIRAGANASTROKE images\hiraganastroke\hi.png
hu HIRAGANASTROKE images\hiraganastroke\hu.png
he HIRAGANASTROKE images\hiraganastroke\he.png
ho HIRAGANASTROKE images\hiraganastroke\ho.png
ma HIRAGANASTROKE images\hiraganastroke\ma.png
mi HIRAGANASTROKE images\hiraganastroke\mi.png
mu HIRAGANASTROKE images\hiraganastroke\mu.png
me HIRAGANASTROKE images\hiraganastroke\me.png
mo HIRAGANASTROKE images\hiraganastroke\mo.png
ya HIRAGANASTROKE images\hiraganastroke\ya.png
yu HIRAGANASTROKE images\hiraganastroke\yu.png
yo HIRAGANASTROKE images\hiraganastroke\yo.png
ra HIRAGANASTROKE images\hiraganastroke\ra.png
ri HIRAGANASTROKE images\hiraganastroke\ri.png
ru HIRAGANASTROKE images\hiraganastroke\ru.png
re HIRAGANASTROKE images\hiraganastroke\re.png
ro HIRAGANASTROKE images\hiraganastroke\ro.png
wa HIRAGANASTROKE images\hiraganastroke\wa.png
wo HIRAGANASTROKE images\hiraganastroke\wo.png
nn HIRAGANASTROKE images\hiraganastroke\nn.png
ga HIRAGANASTROKE images\hiraganastroke\ga.png
gi HIRAGANASTROKE images\hiraganastroke\gi.png
gu HIRAGANASTROKE images\hiraganastroke\gu.png
ge HIRAGANASTROKE images\hiraganastroke\ge.png
go HIRAGANASTROKE images\hiraganastroke\go.png
za HIRAGANASTROKE images\hiraganastroke\za.png
zi HIRAGANASTROKE images\hiraganastroke\zi.png
zu HIRAGANASTROKE images\hiraganastroke\zu.png
ze HIRAGANASTROKE images\hiraganastroke\ze.png
zo HIRAGANASTROKE images\hiraganastroke\zo.png
da HIRAGANASTROKE images\hiraganastroke\da.png
di HIRAGANASTROKE images\hiraganastroke\di.png
du HIRAGANASTROKE images\hiraganastroke\du.png
de HIRAGANASTROKE images\hiraganastroke\de.png
do HIRAGANASTROKE images\hiraganastroke\do.png
ba HIRAGANASTROKE images\hiraganastroke\ba.png
bi HIRAGANASTROKE images\hiraganastroke\bi.png
bu HIRAGANASTROKE images\hiraganastroke\bu.png
be HIRAGANASTROKE images\hiraganastroke\be.png
bo HIRAGANASTROKE images\hiraganastroke\bo.png
pa HIRAGANASTROKE images\hiraganastroke\pa.png
pi HIRAGANASTROKE images\hiraganastroke\pi.png
pu HIRAGANASTROKE images\hiraganastroke\pu.png
pe HIRAGANASTROKE images\hiraganastroke\pe.png
po HIRAGANASTROKE images\hiraganastroke\po.png
kya HIRAGANASTROKE images\hiraganastroke\kya.png
kyu HIRAGANASTROKE images\hiraganastroke\kyu.png
kyo HIRAGANASTROKE images\hiraganastroke\kyo.png
sha HIRAGANASTROKE images\hiraganastroke\sha.png
shu HIRAGANASTROKE images\hiraganastroke\shu.png
sho HIRAGANASTROKE images\hiraganastroke\sho.png
cha HIRAGANASTROKE images\hiraganastroke\cha.png
chu HIRAGANASTROKE images\hiraganastroke\chu.png
cho HIRAGANASTROKE images\hiraganastroke\cho.png
nya HIRAGANASTROKE images\hiraganastroke\nya.png
nyu HIRAGANASTROKE images\hiraganastroke\nyu.png
nyo HIRAGANASTROKE images\hiraganastroke\nyo.png
hya HIRAGANASTROKE images\hiraganastroke\hya.png
hyu HIRAGANASTROKE images\hiraganastroke\hyu.png
hyo HIRAGANASTROKE images\hiraganastroke\hyo.png
mya HIRAGANASTROKE images\hiraganastroke\mya.png
myu HIRAGANASTROKE images\hiraganastroke\myu.png
myo HIRAGANASTROKE images\hiraganastroke\myo.png
rya HIRAGANASTROKE images\hiraganastroke\rya.png
ryu HIRAGANASTROKE images\hiraganastroke\ryu.png
ryo HIRAGANASTROKE images\hiraganastroke\ryo.png
gya HIRAGANASTROKE images\hiraganastroke\gya.png
gyu HIRAGANASTROKE images\hiraganastroke\gyu.png
gyo HIRAGANASTROKE images\hiraganastroke\gyo.png
ja HIRAGANASTROKE images\hiraganastroke\ja.png
ju HIRAGANASTROKE images\hiraganastroke\ju.png
jo HIRAGANASTROKE images\hiraganastroke\jo.png
bya HIRAGANASTROKE images\hiraganastroke\bya.png
byu HIRAGANASTROKE images\hiraganastroke\byu.png
byo HIRAGANASTROKE images\hiraganastroke\byo.png
pya HIRAGANASTROKE images\hiraganastroke\pya.png
pyu HIRAGANASTROKE images\hiraganastroke\pyu.png
pyo HIRAGANASTROKE images\hiraganastroke\pyo.png

// KATAKANA STROKE
aa KATAKANASTROKE images\katakanastroke\aa.png 
ii KATAKANASTROKE images\katakanastroke\ii.png
uu KATAKANASTROKE images\katakanastroke\uu.png
ee KATAKANASTROKE images\katakanastroke\ee.png
oo KATAKANASTROKE images\katakanastroke\oo.png
ka KATAKANASTROKE images\katakanastroke\ka.png
ki KATAKANASTROKE images\katakanastroke\ki.png
ku KATAKANASTROKE images\katakanastroke\ku.png
ke KATAKANASTROKE images\katakanastroke\ke.png
ko KATAKANASTROKE images\katakanastroke\ko.png
sa KATAKANASTROKE images\katakanastroke\sa.png
si KATAKANASTROKE images\katakanastroke\si.png
su KATAKANASTROKE images\katakanastroke\su.png
se KATAKANASTROKE images\katakanastroke\se.png
so KATAKANASTROKE images\katakanastroke\so.png
ta KATAKANASTROKE images\katakanastroke\ta.png
ti KATAKANASTROKE images\katakanastroke\ti.png
tu KATAKANASTROKE images\katakanastroke\tu.png
te KATAKANASTROKE images\katakanastroke\te.png
to KATAKANASTROKE images\katakanastroke\to.png
na KATAKANASTROKE images\katakanastroke\na.png
ni KATAKANASTROKE images\katakanastroke\ni.png
nu KATAKANASTROKE images\katakanastroke\nu.png
ne KATAKANASTROKE images\katakanastroke\ne.png
no KATAKANASTROKE images\katakanastroke\no.png
ha KATAKANASTROKE images\katakanastroke\ha.png
hi KATAKANASTROKE images\katakanastroke\hi.png
hu KATAKANASTROKE images\katakanastroke\hu.png
he KATAKANASTROKE images\katakanastroke\he.png
ho KATAKANASTROKE images\katakanastroke\ho.png
ma KATAKANASTROKE images\katakanastroke\ma.png
mi KATAKANASTROKE images\katakanastroke\mi.png
mu KATAKANASTROKE images\katakanastroke\mu.png
me KATAKANASTROKE images\katakanastroke\me.png
mo KATAKANASTROKE images\katakanastroke\mo.png
ya KATAKANASTROKE images\katakanastroke\ya.png
yu KATAKANASTROKE images\katakanastroke\yu.png
yo KATAKANASTROKE images\katakanastroke\yo.png
ra KATAKANASTROKE images\katakanastroke\ra.png
ri KATAKANASTROKE images\katakanastroke\ri.png
ru KATAKANASTROKE images\katakanastroke\ru.png
re KATAKANASTROKE images\katakanastroke\re.png
ro KATAKANASTROKE images\katakanastroke\ro.png
wa KATAKANASTROKE images\katakanastroke\wa.png
wo KATAKANASTROKE images\katakanastroke\wo.png
nn KATAKANASTROKE images\katakanastroke\nn.png
ga KATAKANASTROKE images\katakanastroke\ga.png
gi KATAKANASTROKE images\katakanastroke\gi.png
gu KATAKANASTROKE images\katakanastroke\gu.png
ge KATAKANASTROKE images\katakanastroke\ge.png
go KATAKANASTROKE images\katakanastroke\go.png
za KATAKANASTROKE images\katakanastroke\za.png
zi KATAKANASTROKE images\katakanastroke\zi.png
zu KATAKANASTROKE images\katakanastroke\zu.png
ze KATAKANASTROKE images\katakanastroke\ze.png
zo KATAKANASTROKE images\katakanastroke\zo.png
da KATAKANASTROKE images\katakanastroke\da.png
di KATAKANASTROKE images\katakanastroke\di.png
du KATAKANASTROKE images\katakanastroke\du.png
de KATAKANASTROKE images\katakanastroke\de.png
do KATAKANASTROKE images\katakanastroke\do.png
ba KATAKANASTROKE images\katakanastroke\ba.png
bi KATAKANASTROKE images\katakanastroke\bi.png
bu KATAKANASTROKE images\katakanastroke\bu.png
be KATAKANASTROKE images\katakanastroke\be.png
bo KATAKANASTROKE images\katakanastroke\bo.png
pa KATAKANASTROKE images\katakanastroke\pa.png
pi KATAKANASTROKE images\katakanastroke\pi.png
pu KATAKANASTROKE images\katakanastroke\pu.png
pe KATAKANASTROKE images\katakanastroke\pe.png
po KATAKANASTROKE images\katakanastroke\po.png
kya KATAKANASTROKE images\katakanastroke\kya.png
kyu KATAKANASTROKE images\katakanastroke\kyu.png
kyo KATAKANASTROKE images\katakanastroke\kyo.png
sha KATAKANASTROKE images\katakanastroke\sha.png
shu KATAKANASTROKE images\katakanastroke\shu.png
sho KATAKANASTROKE images\katakanastroke\sho.png
cha KATAKANASTROKE images\katakanastroke\cha.png
chu KATAKANASTROKE images\katakanastroke\chu.png
cho KATAKANASTROKE images\katakanastroke\cho.png
nya KATAKANASTROKE images\katakanastroke\nya.png
nyu KATAKANASTROKE images\katakanastroke\nyu.png
nyo KATAKANASTROKE images\katakanastroke\nyo.png
hya KATAKANASTROKE images\katakanastroke\hya.png
hyu KATAKANASTROKE images\katakanastroke\hyu.png
hyo KATAKANASTROKE images\katakanastroke\hyo.png
mya KATAKANASTROKE images\katakanastroke\mya.png
myu KATAKANASTROKE images\katakanastroke\myu.png
myo KATAKANASTROKE images\katakanastroke\myo.png
rya KATAKANASTROKE images\katakanastroke\rya.png
ryu KATAKANASTROKE images\katakanastroke\ryu.png
ryo KATAKANASTROKE images\katakanastroke\ryo.png
gya KATAKANASTROKE images\katakanastroke\gya.png
gyu KATAKANASTROKE images\katakanastroke\gyu.png
gyo KATAKANASTROKE images\katakanastroke\gyo.png
ja KATAKANASTROKE images\katakanastroke\ja.png
ju KATAKANASTROKE images\katakanastroke\ju.png
jo KATAKANASTROKE images\katakanastroke\jo.png
bya KATAKANASTROKE images\katakanastroke\bya.png
byu KATAKANASTROKE images\katakanastroke\byu.png
byo KATAKANASTROKE images\katakanastroke\byo.png
pya KATAKANASTROKE images\katakanastroke\pya.png
pyu KATAKANASTROKE images\katakanastroke\pyu.png
pyo KATAKANASTROKE images\katakanastroke\pyo.png